.introduction-cont {
    width: 100%;
    display: flex;
    justify-content: center;

    .introduction-content {
        max-width: 1200px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 6em 0 2em 0;

        h1 {
            font-weight: 500;
        }

        .text-container {
            display: flex;

            justify-content: space-between;
            align-items: flex-start;

            .text {
                margin-top: 2em;

                p {
                    font-size: 1.2em;
                    line-height: 1.5em;

                }
            }

            p,
            .img-cont {
                width: 50%;
            }

            .img-cont {
                display: flex;
                justify-content: end;
                position: relative;
            }

            img {
                width: 250px;
                &::selection{
                    background-color: transparent;
                }

                &.img-square {
                    position: relative;
                    left: -50px;
                    z-index: -1;
                    top: -50px;
                }

            }

        }

    }
}

@media screen and (max-width: 1000px) {
    .introduction-cont {
        .introduction-content {
            padding: 4em 0 2em 0;

            .text-container {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p,
                .img-cont {
                    width: 80%;
                }

                .img-cont {
                    justify-content: center;
                    margin-top: 6em;
                }
            }
        }
    }

}


@media screen and (max-width: 800px) {
    .introduction-cont {
        .introduction-content {
            .text-container {
                img {
                    width: 150px;
                }
            }
        }
    }


}

@keyframes appear {
    0% {
        transform: posY(100px);
    }

    100% {
        transform: posY(0);
    }
}