.menu-cont{
    display: flex;
    position: fixed;
    width:100%;
    padding: 1em;
    background-color: rgba(46, 15, 46, 0.247);
    justify-content: space-between;
    p{
        font-family: 'LuckiestGuy';
       &:hover{
            opacity: 0.8;
       }
    }

    a{
        text-decoration: none;
    }
}