*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: #cec8e2;
    font-family: "RobotoRegular";
}

body{
    // background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
   // background-image: linear-gradient(-20deg, #1b0c24 0%, #6c4376 100%);
  // background-image: linear-gradient(180deg, #3e1d53 0%, #744376 100%);
   background-repeat: no-repeat;
   background-color: #4e4376;
}

h1,h2,h3{
    font-family: "LuckiestGuy";
    font-weight: 500;
}