*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "RobotoRegular";
}

body{
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    background-repeat: no-repeat;
}

h1,h2,h3{
    font-family: "LuckiestGuy";
}